extends extends/layout.pug

block html
	- var meta_title = 'Robonomics Influencer Program'

block content
	.screen#index-intro
		#index-intro--content
			h1 Introducing Robonomics Influencer Program

			section
				p Share Robonomics events and Get Rewarded in Robonomics token (XRT). Join the Robonomics Influencer Program with a Personal blog, Medium, YouTube, Instagram, Twitter, or Facebook account.

			h4 Upcoming events

			section
				ul
					li Robonomics Summer conference 2020.
					li Uniswap liquidity program.
					li Become a pioneer of Robonomics network.
