extends extends/layout.pug

block html
	- var meta_title = 'Robonomics Community Events'

block content
	.screen#index-intro
		#index-intro--content
			h1 Robonomics Community Events

			section
				p Be involved in Robonomics project! The core dev team has several events to join for everyone in the community.

			h4 Current and upcoming events

			section
				ul
					li
						a(href='https://rewards.robonomics.network/' target='_blank' style='color:#fff;font-weight: bold;') Liquidity Staking incentive
					li
						a(href='https://docs.google.com/spreadsheets/d/1McClwILWjbWX_KIvGKqtLo0ZseWrWPL20rHjnDKY1YQ/edit#gid=925814823' target='_blank' style='color:#fff;font-weight: bold;') Market makers incentive
					li
						a(href='https://docs.google.com/spreadsheets/d/1McClwILWjbWX_KIvGKqtLo0ZseWrWPL20rHjnDKY1YQ/edit#gid=1991395529' target='_blank' style='color:#fff;font-weight: bold;') Parachain collators incentive
